<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_Mv9ILMErxq4Jf9d1M1iuXEl-k-M0Udc</string>
	<key>GCM_SENDER_ID</key>
	<string>253222200495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genetreemobileai.dev</string>
	<key>PROJECT_ID</key>
	<string>gene-tree-dev-2e250</string>
	<key>STORAGE_BUCKET</key>
	<string>gene-tree-dev-2e250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253222200495:ios:6a4e2a4f54b908c061605a</string>
</dict>
</plist>