name: gene_tree_app
description: A new Flutter project.

environment:
  sdk: ^3.2.6

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter

flutter_intl:
  enabled: true
  arb_dir: lib/modules/common/l10n/arbs # Thư mục chứa các file ARB
  output_dir: lib/generated # Thư mục để lưu các file Dart được tạo
  default_locale: en # Ngôn ngữ mặc định
